*.exe
*.dll
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.cbproj
*.cpp
*.jdbg
*.vrc
*.cfg
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.vlb
*.skincfg
__history/
*.~*
*.log
*.todo
*.stat
.metadata

build/cache
build/target

*.res
*.tmp